<nav class="breadcrumb" role="navigation" aria-label="Breadcrumb">
  <div class="inner">
    <ul class="breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
      <meta itemprop="name" content="BreadcrumbList">
      <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <span class="breadcrumb__title" itemprop="name"
          ><a href="{{ shop.url }}">{{ 'general.breadcrumb.home' | t }}</a></span
        >
        {% assign position = 1 %}
        <meta itemprop="position" content="{{ position }}">
        <meta itemprop="item" content="{{ shop.url }}">
      </li>

      {% if template contains 'blog' or template contains 'article' %}
        <li
          class="breadcrumb__item"
          data-breadcrumb-separator="/"
          itemprop="itemListElement"
          itemscope
          itemtype="http://schema.org/ListItem"
        >
          <span class="breadcrumb__title" itemprop="name">{{ 'All Blog' | link_to: '/blogs/all' }}</span>
          {% assign position = position | plus: 1 %}
          <meta itemprop="position" content="{{ position }}">
          <meta itemprop="item" content="{{ shop.url }}/blogs/all">
        </li>
      {% endif %}

      {% assign safety_handles = 'caution-forklift-traffic-sign,go-straight-sign,stop-sign' | split: ',' %}
      {% if template == 'collection' and safety_handles contains collection.handle %}
        <li
          class="breadcrumb__item"
          data-breadcrumb-separator="/"
          itemprop="itemListElement"
          itemscope
          itemtype="http://schema.org/ListItem"
        >
          {% assign url = routes.collections_url | append: '/safety-sign-projector' %}
          <span class="breadcrumb__title" itemprop="name">{{ 'Safety Sign Projector' | link_to: url }}</span>
          {% assign position = position | plus: 1 %}
          <meta itemprop="position" content="{{ position }}">
          <meta itemprop="item" content="{{ url }}">
        </li>
      {% endif %}

      {% unless template == 'blog.all' %}
        {% if template == 'search' and search.performed %}
          <li
            class="breadcrumb__item breadcrumb__item--active"
            data-breadcrumb-separator="/"
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
          >
            <span class="breadcrumb__title" itemprop="name">{{ search.terms | remove: '*' }}</span>
            {% assign position = position | plus: 1 %}
            <meta itemprop="position" content="{{ position }}">
            <meta itemprop="item" content="{{ canonical_url }}">
          </li>
        {% elsif template == 'article' %}
          <li
            class="breadcrumb__item"
            data-breadcrumb-separator="/"
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
          >
            <span class="breadcrumb__title" itemprop="name">{{ blog.title | link_to: blog.url }}</span>
            {% assign position = position | plus: 1 %}
            <meta itemprop="position" content="{{ position }}">
            <meta itemprop="item" content="{{shop.url}}{{ blog.url }}">
          </li>

          <li
            class="breadcrumb__item breadcrumb__item--active"
            data-breadcrumb-separator="/"
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
          >
            <span class="breadcrumb__title" itemprop="name">{{ article.title }}</span>
            {% assign position = position | plus: 1 %}
            <meta itemprop="position" content="{{ position }}">
            <meta itemprop="item" content="{{ canonical_url }}">
          </li>
        {% elsif template contains 'product' %}
          {% if collection and collection.handle %}
            {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
            <li
              class="breadcrumb__item"
              data-breadcrumb-separator="/"
              itemprop="itemListElement"
              itemscope
              itemtype="http://schema.org/ListItem"
            >
              <span class="breadcrumb__title" itemprop="name">{{ collection.title | link_to: url }}</span>
              {% assign position = position | plus: 1 %}
              <meta itemprop="position" content="{{ position }}">
              <meta itemprop="item" content="{{ url }}">
            </li>

            <li
              class="breadcrumb__item breadcrumb__item--active"
              data-breadcrumb-separator="/"
              itemprop="itemListElement"
              itemscope
              itemtype="http://schema.org/ListItem"
            >
              <span class="breadcrumb__title" itemprop="name">{{ product.title }}</span>
              {% assign position = position | plus: 1 %}
              <meta itemprop="position" content="{{ position }}">
              <meta itemprop="item" content="{{ canonical_url }}">
            </li>
          {% else %}
            {% assign main_collection = product.metafields.custom.main_collection.value %}

            {% if main_collection %}
              {% capture url %}{{ shop.url }}/collections/{{ main_collection.handle }}{% endcapture %}
              <li
                class="breadcrumb__item"
                data-breadcrumb-separator="/"
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem"
              >
                <span class="breadcrumb__title" itemprop="name">{{ main_collection.title | link_to: url }}</span>
                {% assign position = position | plus: 1 %}
                <meta itemprop="position" content="{{ position }}">
                <meta itemprop="item" content="{{ url }}">
              </li>
            {% endif %}

            <li
              class="breadcrumb__item breadcrumb__item--active"
              data-breadcrumb-separator="/"
              itemprop="itemListElement"
              itemscope
              itemtype="http://schema.org/ListItem"
            >
              <span class="breadcrumb__title" itemprop="name">{{ product.title }}</span>
              {% assign position = position | plus: 1 %}
              <meta itemprop="position" content="{{ position }}">
              <meta itemprop="item" content="{{ canonical_url }}">
            </li>
          {% endif %}
        {% elsif template == 'customers/addresses' or template == 'customers/order' %}
          <li
            class="breadcrumb__item"
            data-breadcrumb-separator="/"
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
          >
            <span class="breadcrumb__title" itemprop="name"
              ><a href="/account">{{ 'general.breadcrumb.account' | t }}</a></span
            >
            {% assign position = position | plus: 1 %}
            <meta itemprop="position" content="{{ position }}">
            <meta itemprop="item" content="/account">
          </li>

          <li
            class="breadcrumb__item breadcrumb__item--active"
            data-breadcrumb-separator="/"
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
          >
            <span class="breadcrumb__title" itemprop="name">{{ page_title }}</span>
            {% assign position = position | plus: 1 %}
            <meta itemprop="position" content="{{ position }}">
            <meta itemprop="item" content="{{ canonical_url }}">
          </li>
        {% elsif template == 'collection' and current_tags %}
          <li
            class="breadcrumb__item"
            data-breadcrumb-separator="/"
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
          >
            <span class="breadcrumb__title" itemprop="name"
              ><a href="{{collection.url}}">{{ collection.title }}</a></span
            >
            {% assign position = position | plus: 1 %}
            <meta itemprop="position" content="{{ position }}">
            <meta itemprop="item" content="{{ collection.url }}">
          </li>

          <li
            class="breadcrumb__item breadcrumb__item--active"
            data-breadcrumb-separator="/"
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
          >
            <span class="breadcrumb__title" itemprop="name">{{ current_tags | first }}</span>
            {% assign position = position | plus: 1 %}
            <meta itemprop="position" content="{{ position }}">
            <meta itemprop="item" content="{{ canonical_url }}">
          </li>
        {% else %}
          <li
            data-breadcrumb-separator="/"
            class="breadcrumb__item breadcrumb__item--active"
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
          >
            {% if template contains 'collection' and collection.handle %}
              <span class="breadcrumb__title" itemprop="name">{{ collection.title }}</span>
            {% elsif template == 'blog' %}
              <span class="breadcrumb__title" itemprop="name">{{ blog.title }}</span>
            {% elsif template contains 'page' %}
              <span class="breadcrumb__title" itemprop="name">{{ page.title }}</span>
            {% else %}
              <span class="breadcrumb__title" itemprop="name">{{ page_title }}</span>
            {% endif %}

            {% assign position = position | plus: 1 %}
            <meta itemprop="position" content="{{ position }}">
            <meta itemprop="item" content="{{ canonical_url }}">
          </li>
        {% endif %}
      {% endunless %}
    </ul>
  </div>
</nav>
{% comment %}<!-- ymq option done -->{% endcomment %}
