{% if collection.image %}
  {% assign collection_image = collection.image %}
{% else %}
  {% assign collection_image = collection.products.first.featured_image %}
{% endif %}

<div
  class="list-collections__item collection grid__cell 1/2 1/3--handheld 1/{{ grid_items_per_row }}--lap-and-up"
  {{ block.shopify_attributes }}
>
  <a
    href="{{ collection.url }}"
    class="collection__link"
    style="background: url({{ collection_image | image_url: width: 50 }})"
  >
    <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: collection_image.aspect_ratio }}%">
      <div
        class="collection__image-background lazyload image--fade-in"
        data-optimumx="1.4"
        data-bgset="{{ collection_image | image_url: width: 400 }} 400w, {{ collection_image | image_url: width: 600 }} 600w, {{ collection_image | image_url: width: 800 }} 800w, {{ collection_image | image_url: width: 1000 }} 1000w"
      ></div>

      <noscript>
        <div
          class="collection__image-background"
          style="background-image: url({{ collection_image | image_url: width: 800 }})"
        ></div>
      </noscript>
    </div>

    <div class="collection__overlay">
      <h3 class="collection__title">{{ collection.title }}</h3>
    </div>
  </a>
</div>
