{% if paginate.pages > 1 %}
  <div class="pagination" itemscope itemtype="https://schema.org/ItemList">
    <meta itemprop="name" content="Pagination">
    <div class="inner">
      <div class="pagination__wrapper">
        {% if paginate.previous %}
          <a
            class="button button--secondary pagination__nav pagination__nav--prev"
            rel="prev"
            href="{{ paginate.previous.url }}"
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
          >
            {% include 'icon' with 'arrow-left' %}
            <span class="pagination__label">{{ 'general.pagination.previous_page' | t }}</span>
            <meta itemprop="url" content="{{ shop.url }}{{ paginate.previous.url }}">
            <meta itemprop="position" content="1">
          </a>
        {% endif %}

        <span class="pagination__current">
          {{- 'general.pagination.page_count' | t: current_page: paginate.current_page, total_pages: paginate.pages -}}
        </span>

        {% if paginate.next %}
          <a
            class="button button--secondary pagination__nav pagination__nav--next"
            rel="next"
            href="{{ paginate.next.url }}"
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
          >
            <span class="pagination__label">{{ 'general.pagination.next_page' | t }}</span>
            {% include 'icon' with 'arrow-right' %}
            <meta itemprop="url" content="{{ shop.url }}{{ paginate.next.url }}">
            <meta itemprop="position" content="2">
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
