<header class="page__header {% if cart.item_count == 0 %}page__header--no-border{% endif %}">
  {% include 'breadcrumb' %}

  <div class="page__header-wrapper">
    <div class="container">
      {% if cart.item_count == 0 %}
        <h1 class="page__title">
          {{ 'cart.general.empty_title' | t }}
        </h1>

        <div class="page__description page__description--centered">
          <p>{{ 'cart.general.empty_subtitle' | t }}</p>

          <div class="page__header-actions">
            <a href="{{ shop.url }}" class="button button--primary">{{ 'cart.general.empty_button' | t }}</a>
          </div>
        </div>
      {% else %}
        <h1 class="page__title">
          {{ 'cart.general.title' | t }}
        </h1>
      {% endif %}
    </div>
  </div>
</header>

{% if cart.item_count > 0 %}
  <form action="/cart" method="POST">
    <div class="cart--mobile">
      <ul class="cart__items">
        {% for line_item in cart.items %}
          <li class="cart-item" data-variant-id="{{ line_item.id }}" data-index="{{ forloop.index }}">
            <div class="cart-item__left">
              <a href="{{ line_item.url }}" class="cart-item__link">
                <img class="cart-item__image" src="{{ line_item.image | img_url: '180x' }}">
              </a>
            </div>

            <div class="cart-item__right">
              <a class="cart-item__title">{{ line_item.title }}</a>

              {% if line_item.properties != blank %}
                <ul class="cart-item__properties">
                  {% for property in line_item.properties %}
                    <li class="cart-item__property">{{ property.first }}: {{ property.last }}</li>
                  {% endfor %}
                </ul>
              {% endif %}

              <span class="cart-item__subtotal" data-money-convertible>{{ line_item.line_price | money }}</span>
              <input type="text" pattern="[0-9]*" class="cart-item__quantity-input" name="quantity" value="{{ line_item.quantity }}">
              <a class="cart-item__remove" href="/cart/change?quantity=0&line={{ forloop.index }}">{{ 'cart.items.remove' | t }}</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="cart--desktop">
      <table>
        <thead>
          <tr>
            <th>{{ 'cart.items.product' | t }}</th>
            <th></th>
            <th class="cart-item__price-header">{{ 'cart.items.price' | t }}</th>
            <th>{{ 'cart.items.quantity' | t }}</th>
            <th>{{ 'cart.items.subtotal' | t }}</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for line_item in cart.items %}
            <tr data-variant-id="{{ line_item.id }}" data-index="{{ forloop.index }}">
              <td class="cart-item__product">
                <a href="{{ line_item.url }}" class="cart-item__link">
                  <img class="cart-item__image" src="{{ line_item.image | img_url: '320x320' }}">
                </a>
              </td>

              <td class="cart-item__info table__left">
                {% if section.settings.show_vendor %}
                  <span class="cart-item__brand">{{ line_item.vendor }}</span>
                {% endif %}

                <a class="cart-item__title" href="{{ line_item.url }}">{{ line_item.product.title }}</a>

                {% if line_item.variant.title != 'Default Title' %}
                  <span class="cart-item__variant">{{ line_item.variant.title }}</span>
                {% endif %}

                {% if line_item.properties != blank %}
                  <ul class="cart-item__properties">
                    {% for property in line_item.properties %}
                      <li class="cart-item__property">{{ property.first }}: {{ property.last }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </td>

              <td class="cart-item__price" data-money-convertible>{{ line_item.price | money }}</td>

              <td class="cart-item__quantity">
                <span>{{ line_item.quantity }}</span>

                <div class="quantity__actions">
                  <a href="/cart/change?quantity={{ line_item.quantity | minus: 1 }}&line={{ forloop.index }}">
                    {% include 'icon' with 'minus' %}
                  </a>
                  <a href="/cart/change?quantity={{ line_item.quantity | plus: 1 }}&line={{ forloop.index }}">
                    {% include 'icon' with 'plus' %}
                  </a>
                </div>
              </td>

              <td class="cart-item__subtotal" data-money-convertible>{{ line_item.line_price | money }}</td>

              <td class="cart-item__remove">
                <a href="/cart/change?quantity=0&line={{ forloop.index }}" class="icon-cross-container">
                  {% include 'icon' with 'close' %}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="inner">
      <div class="cart__meta cart__meta--mobile">
        <div class="cart__recap">
          <span class="cart__total cart__total" data-money-convertible><span  class='ymq_cart_total_price'>{{ cart.total_price | money }}</span></span>
          <span class="cart__taxes">{{ 'cart.general.shipping_not_included' | t }}</span>

          {% if settings.currency_conversion_enabled %}
            <p class="cart__currency-notice rte">{{ 'cart.general.currency_notice' | t: shop_currency: shop.currency }}</p>
          {% endif %}
        </div>

        {% if section.settings.show_notes %}
          <div class="cart__instructions">
            <div class="form__control cart__note">
              <label class="form__label" for="note">{{ 'cart.general.add_note' | t }}</label>
              <textarea name="note" cols="30" rows="5">{{ cart.note }}</textarea>
            </div>
          </div>
        {% endif %}

        <div class="cart__checkout">
          <div class="button-wrapper">
            <button type="submit" name="checkout" class="button button--primary">{{ 'cart.general.checkout' | t }}</button>
          </div>
        </div>
      </div>

      <div class="cart__meta cart__meta--desktop grid grid--large">
        {% if section.settings.show_notes %}
          <div class="cart__instructions grid__cell 3/5--handheld-and-up">
            <div class="form__control cart__note">
              <label class="form__label" for="note">{{ 'cart.general.add_note' | t }}</label>
              <textarea name="note" cols="30" rows="5">{{ cart.note }}</textarea>
            </div>
          </div>
        {% endif %}

        <div class="cart__checkout grid__cell {% if section.settings.show_notes %}2/5--handheld-and-up{% endif %}">
          <div class="cart__recap--desktop">
            <span class="cart__total cart__total" data-money-convertible><span  class='ymq_cart_total_price'>{{ cart.total_price | money }}</span></span>
            <span class="cart__taxes">{{ 'cart.general.shipping_not_included' | t }}</span>

            {% if settings.currency_conversion_enabled %}
              <p class="cart__currency-notice rte">{{ 'cart.general.currency_notice' | t: shop_currency: shop.currency }}</p>
            {% endif %}
          </div>

          <div class="button-wrapper">
            <button type="submit" name="checkout" class="button button--primary">{{ 'cart.general.checkout' | t }}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endif %}

{% if section.settings.show_shipping_estimator and cart.item_count > 0 %}
  <section class="shipping-estimator">
    <div class="inner">
      <h3 class="shipping-estimator__title">{{ 'cart.shipping_estimator.title' | t }}</h3>

      <div class="shipping-estimator__form">
        <div class="form__control">
          <label class="form__label" for="address_country">{{ 'cart.shipping_estimator.country' | t }}</label>

          <div class="styled-select">
            {% include 'icon' with 'dropdown-arrow' %}
            <select id="address_country" name="shipping_address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif section.settings.shipping_estimator_default_country != '' %}{{ section.settings.shipping_estimator_default_country }}{% endif %}">{{ country_option_tags }}</select>
          </div>
        </div>

        <div class="form__control" id="address_province_container" style="display: none;">
          <label class="form__label" for="address_province" id="address_province_label">{{ 'cart.shipping_estimator.province' | t }}</label>

          <div class="styled-select">
            {% include 'icon' with 'dropdown-arrow' %}
            <select id="address_province" name="shipping_address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
          </div>
        </div>

        <div class="form__control form__control--zip">
          <label class="form__label" for="address_zip">{{ 'cart.shipping_estimator.zip' | t }}</label>
          <input type="text" id="address_zip" name="shipping_address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} required="required">
        </div>

        <button type="submit" class="button button--secondary shipping-estimator__submit">{{ 'cart.shipping_estimator.submit' | t }}</button>
      </div>

      <div class="shipping-estimator__results" style="display: none">
        <h4 class="shipping-estimator__results-title"></h4>
        <ul class="shipping-estimator__list"></ul>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Cart page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_notes",
      "label": "Enable order notes",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_shipping_estimator",
      "label": "Show shipping rates calculator",
      "default": true
    },
    {
      "type": "text",
      "id": "shipping_estimator_default_country",
      "label": "Default country to use",
      "info": "If your customer is logged-in, the country in his default shipping address will be selected.",
      "default": "United States"
    }
  ]
}
{% endschema %}{% comment %}<!-- ymq option done -->{% endcomment %}