<header class="page__header" style="margin-bottom: 0;">
  {% include 'breadcrumb' %}

  <div class="page__header-wrapper">
    <div class="container">
      <h1 class="page__title">{{ page.title }}</h1>
    </div>
  </div>
</header>

<section class="page__faq">
  {% for block in section.blocks %}
    <div class="faq__item" {{ block.shopify_attributes }}>
      <h2 class="faq__question">{{ block.settings.title | escape }}</h2>
      <div class="faq__answer rte">{{ block.settings.answer }}</div>
    </div>
  {% endfor %}
</section>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {% for block in section.blocks %}
        {% comment %} {% if block.type == 'text' %} {% endcomment %}
        {%- assign title = block.settings.title -%}
        {%- assign answer = block.settings.answer -%}
        {% unless title == blank or answer == blank %}
        {
          "@type": "Question",
          "name": "{{ title | strip_html | escape | replace: '"', '&quot;' }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ answer | strip_html | escape | replace: '"', '&quot;' | strip_newlines }}"
          }
        }{% unless forloop.last %},{% endunless %}
        {% endunless %}
        {% comment %} {% endif %} {% endcomment %}
      {% endfor %}
    ]
  }
</script>

{% schema %}
{
  "name": "FAQ",
  "blocks": [
    {
      "type": "faq_item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ]
}
{% endschema %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    $('body').on('click', '.faq__question', function () {
      $(this).next('.faq__answer').slideToggle(250);
    });
  });
</script>
