{%- comment -%}
  We use this section to render both the quick shop and normal template so that we can re-use the section settings
{%- endcomment -%}

{%- if template.suffix != 'quick_shop' -%}
  {% render 'breadcrumb' %}

  <div class="product" id="{{ section.id }}-product-{{ product.id }}" data-product="{{ product.id }}">
    {% case section.settings.showcase_size %}
      {% when 'small' %}
        {% assign product_showcase_grid_class = '2/5--lap-and-up' %}
        {% assign product_info_grid_class = '3/5--lap-and-up' %}

      {% when 'normal' %}
        {% assign product_showcase_grid_class = '1/2--lap-and-up' %}
        {% assign product_info_grid_class = '1/2--lap-and-up' %}

      {% when 'big' %}
        {% assign product_showcase_grid_class = '3/5--lap-and-up' %}
        {% assign product_info_grid_class = '2/5--lap-and-up' %}
    {% endcase %}

    <div class="product__details">
      <div class="inner">
        {% render 'product-meta', show_vendor: section.settings.show_vendor, for_mobile: true %}

        <div class="grid">
          {% comment %}
            -----------------------------------------------------
            PRODUCT SLIDESHOW
            -----------------------------------------------------
          {% endcomment %}

          {% if product.selected_or_first_available_variant.image %}
            {% assign initial_image_position = product.selected_or_first_available_variant.image.position | minus: 1 %}
          {% else %}
            {% assign initial_image_position = 0 %}
          {% endif %}

          <div class="product__showcase grid__cell {{ product_showcase_grid_class }}">
            <ul
              class="product__slideshow"
              data-initial-slide="{{ initial_image_position }}"
              data-rotation-effect="{{ section.settings.showcase_rotation_effect }}"
              data-zoom-enabled="{{ section.settings.showcase_zoom_enabled }}"
              data-zoom-magnification="{{ section.settings.showcase_zoom_magnification }}"
            >
              {% if product.images.size == 0 %}
                <li
                  class="product__slideshow-slide"
                  data-type="image"
                  data-image-large-url="{{ product.featured_image | img_url: '1600x' }}"
                >
                  {% render 'image-size',
                    sizes: '400,600,800,900,1000,1100,1200,1300,1400,1500,1600',
                    image: product.featured_image
                  %}
                  {% assign image_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

                  <div
                    class="aspect-ratio"
                    style="padding-bottom: {{ 100.0 | divided_by: product.featured_image.aspect_ratio }}%"
                  >
                    <img
                      class="product__slideshow-image lazyload image--fade-in"
                      data-sizes="auto"
                      data-src="{{ image_url }}"
                      data-widths="[{{ supported_sizes }}]"
                      alt="{{ product.featured_image.alt | escape }}"
                    >

                    <noscript>
                      <img
                        class="product__slideshow-image"
                        src="{{ product.featured_image | img_url: '800x' }}"
                        alt="{{ product.featured_image.alt | escape }}"
                      >
                    </noscript>
                  </div>
                </li>
              {% else %}
                {% for image in product.images %}
                  {% if image.alt contains 'youtube.com/embed' or image.alt contains 'player.vimeo.com' %}
                    <li
                      class="product__slideshow-slide"
                      data-type="video"
                      data-index="{{ forloop.index0 }}"
                      {% unless forloop.first %}
                        style="display: none;"
                      {% endunless %}
                    >
                      <div class="product__video-wrapper video__wrapper">
                        <iframe
                          class="product__slideshow-video video__element"
                          width="560"
                          height="349"
                          src="{{ image.alt }}"
                          frameborder="0"
                          allowfullscreen=""
                        ></iframe>
                      </div>
                    </li>
                  {% else %}
                    <li
                      class="product__slideshow-slide"
                      data-type="image"
                      data-index="{{ forloop.index0 }}"
                      data-image-id="{{ image.id }}"
                      data-image-large-url="{{ image | img_url: '1600x' }}"
                      {% unless forloop.first %}
                        style="display: none;"
                      {% endunless %}
                    >
                      {% render 'image-size',
                        sizes: '400,600,800,900,1000,1100,1200,1300,1400,1500,1600',
                        image: image
                      %}
                      {% assign image_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

                      <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: image.aspect_ratio }}%">
                        <img
                          class="product__slideshow-image lazyload image--fade-in"
                          data-sizes="auto"
                          data-src="{{ image_url }}"
                          data-widths="[{{ supported_sizes }}]"
                          alt="{{ product.featured_image.alt | escape }}"
                        >

                        <noscript>
                          <img
                            class="product__slideshow-image"
                            src="{{ image | img_url: '800x' }}"
                            alt="{{ image | escape }}"
                          >
                        </noscript>
                      </div>
                    </li>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </ul>

            {% if section.settings.showcase_show_thumbnails %}
              <ul class="product__thumbnails">
                {% for image in product.images %}
                  <li class="product__thumbnail" data-index="{{ forloop.index0 }}">
                    <img src="{{ image.src | img_url: '200x' }}" alt="{{ image.alt | escape }}">
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>

          {% comment %}
            -----------------------------------------------------
            PRODUCT INFO
            -----------------------------------------------------
          {% endcomment %}

          <div class="product__info grid__cell {{ product_info_grid_class }}">
            {% render 'product-meta', show_vendor: section.settings.show_vendor, for_mobile: false %}

            {% if section.settings.form_position == 'before_description' %}
              {% render 'product-form' %}
            {% endif %}

            {% if section.settings.always_show_description and product.description != blank %}
              <div class="product__description rte">
                {{ product.description }}
              </div>
              {% comment %}<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>{% endcomment %}
            {% endif %}

            <div class="product__share">
              <div class="share-buttons">
                <span class="share-buttons__label">{{ 'general.social.share' | t }}</span>

                <ul class="share-buttons__list">
                  {% assign share_url = shop.url | append: product.url %}
                  {% assign twitter_text = product.title %}
                  {% assign pinterest_description = product.description
                    | strip_html
                    | truncatewords: 15
                    | url_param_escape
                  %}
                  {% assign pinterest_image = product.featured_image | img_url: 'large' | prepend: 'https:' %}

                  <li class="share-buttons__item">
                    <a href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank">
                      {%- render 'icon' with 'facebook' -%}
                    </a>
                  </li>

                  <li class="share-buttons__item">
                    <a
                      href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}"
                      target="_blank"
                    >
                      {%- render 'icon' with 'twitter' -%}
                    </a>
                  </li>

                  <li class="share-buttons__item">
                    <a
                      href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}"
                      target="_blank"
                    >
                      {%- render 'icon' with 'pinterest' -%}
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            {% if section.settings.form_position == 'after_description' %}
              {% render 'product-form' %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      $('#{{ section.id }}-product-{{ product.id }}').product({
        product: {{ product | json }},
        selectedVariantId: {% if product.selected_variant %}{{ product.selected_variant.id }}{% else %}null{% endif %},
        context: 'main',
        showPaymentButton: {{ section.settings.show_payment_button | json }},
        enableHistoryState: true
      });
    });
  </script>
{%- else -%}
  <div class="product" id="product-{{ product.id }}">
    <a href="#" class="modal__close" data-remodal-action="close">
      {% render 'icon' with 'close-thin' %}
    </a>

    <div class="grid grid--flush">
      <ul class="quick-shop__slideshow grid__cell 2/5--handheld-and-up">
        {% for image in product.images %}
          {% if image.alt contains 'youtube.com/embed' or image.alt contains 'player.vimeo.com' %}
            {% continue %}
          {% endif %}

          <li
            class="product__slideshow-slide"
            data-type="image"
            data-index="{{ forloop.index0 }}"
            data-image-id="{{ image.id }}"
            {% unless forloop.first %}
              style="display: none;"
            {% endunless %}
          >
            <img class="product__slideshow-image" src="{{ image | img_url: '800x' }}" alt="{{ image.alt | escape }}">
          </li>
        {% endfor %}
      </ul>

      <div class="grid__cell 3/5--handheld-and-up">
        <div class="quick-shop__info">
          {% render 'product-meta', show_vendor: false %}

          {% if product.description != blank %}
            <p class="quick-shop__short-description">{{ product.description | strip_html | truncatewords: 20 }}</p>
          {% endif %}

          <a href="{{ product.url }}" class="quick-shop__view-details link link--primary">
            {{- 'product.general.view_details' | t }}
            {% render 'icon' with 'arrow-right' -%}
          </a>

          {% render 'product-form' %}
        </div>
      </div>
    </div>
  </div>

  <script>
    // First, create the slideshow
    $('.quick-shop__slideshow').slick({
      autoplay: false,
      adaptiveHeight: false,
      arrows: false,
      dots: true,
      mobileFirst: true,
      touchThreshold: 4
    });

    $('#product-{{ product.id }}').product({
      product: {{ product | json }},
      selectedVariantId: {% if product.selected_variant %}{{ product.selected_variant.id }}{% else %}null{% endif %},
      context: 'quick-shop',
      enableHistoryState: false,
      showPaymentButton: {{ section.settings.show_payment_button | json }}
    });

    if (Shopify.PaymentButton) {
      Shopify.PaymentButton.init();
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Product page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hide_variants_if_only_one",
      "label": "Hide selectors if there is only one variant",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "always_show_description",
      "label": "Show description on the right",
      "info": "If enabled, description will be duplicated on the right",
      "default": true
    },
    {
      "type": "select",
      "id": "form_position",
      "label": "Show \"add to cart\"...",
      "options": [
        {
          "value": "before_description",
          "label": "Before description"
        },
        {
          "value": "after_description",
          "label": "After description"
        }
      ],
      "default": "after_description"
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": false
    },
    {
      "type": "header",
      "content": "Image slideshow"
    },
    {
      "type": "select",
      "id": "showcase_size",
      "label": "Size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "big",
          "label": "Big"
        }
      ],
      "default": "big"
    },
    {
      "type": "select",
      "id": "showcase_rotation_effect",
      "label": "Rotation effect",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ],
      "default": "slide"
    },
    {
      "type": "checkbox",
      "id": "showcase_show_thumbnails",
      "label": "Show thumbnails",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "showcase_zoom_enabled",
      "label": "Enable image zoom",
      "info": "This is disabled on mobile.",
      "default": true
    },
    {
      "type": "select",
      "id": "showcase_zoom_magnification",
      "label": "Zoom magnification (if enabled)",
      "options": [
        {
          "value": "0.5",
          "label": "50%"
        },
        {
          "value": "1",
          "label": "100%"
        },
        {
          "value": "1.5",
          "label": "150%"
        },
        {
          "value": "2",
          "label": "200%"
        }
      ],
      "default": "1.5"
    },
    {
      "type": "header",
      "content": "Reviews"
    },
    {
      "type": "paragraph",
      "content": "Make sure that you have installed [Shopify's free Product Reviews](https://apps.shopify.com/product-reviews) app before enabling this option."
    },
    {
      "type": "checkbox",
      "id": "show_reviews_badge",
      "label": "Show reviews badge",
      "default": false
    }
  ]
}
{% endschema %}
