<header class="page__header">
  {% include 'breadcrumb' %}

  <div class="page__header-wrapper">
    <div class="container">
      <h1 class="page__title">{{ page.title }}</h1>
    </div>
  </div>
</header>

<section class="page__content">
  {% capture contact_form %}
    <div class="contact">
      {% form 'contact', class: 'contact__form' %}
        {% if form.posted_successfully? %}
          <div class="alert alert--success">
            <span class="alert__title">{{ 'contact.form.thank_you' | t }}</span>
          </div>
        {% endif %}

        {% if form.errors %}
          <div class="alert alert--error">
            <span class="alert__title">{{ 'general.forms.errors' | t }}</span>
            {% include 'form-errors' %}
          </div>
        {% endif %}

        <div class="form__control">
          <label class="form__label" for="contact__name">{{ 'contact.form.name' | t }}</label>
          <input type="text" id="contact__name" name="contact[name]">
        </div>

        <div class="form__control">
          <label class="form__label" for="contact__email">{{ 'contact.form.email' | t }}</label>
          <input type="email" id="contact__email" name="contact[email]" required="required">
        </div>

        <div class="form__control">
          <label class="form__label" for="contact__body">{{ 'contact.form.message' | t }}</label>
          <textarea rows="5" cols="75" id="contact__body" name="contact[body]" required="required">{{ form.body }}</textarea>
        </div>

        <input type="submit" class="button button--primary" value="{{ 'contact.form.submit' | t }}">
      {% endform %}
    </div>
  {% endcapture %}

  {% if page.content == blank %}
    <div class="container container--shrink">
      {{ contact_form }}
    </div>
  {% else %}
    <div class="container">
      <div class="grid grid--large">
        <div class="grid__cell 1/2--handheld-and-up 3/5--lap-and-up">
          {{ contact_form }}
        </div>
        <div class="grid__cell 1/2--handheld-and-up 2/5--lap-and-up">
          <div class="rte">
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</section>

{% section 'contact-map' %}
